.menu {
    .container{
        padding: 0 50px 0 70px;
    }
    border-bottom: 1px solid #e9e9e9;
    &__wrapper {
        height: 40px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        border-right: 1px dotted #e9e9e9;
        padding-right: 24px;
        list-style-type: none;
        &:last-child {
            border-right: none;
        }
    }
    &__link {
        position: relative;
        color: #3b3b3b;
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
            color: #913d88;
            &::before {
                display: block;
            }
            &::after {
                display: block;
            }
        }
        &::before {
            content: '';
            position: absolute;
            display: none;
            left: -25px;
            height: 27px;
            width: 3px;
            border: 1px solid #913d88;
            border-right: none;
        }
        &::after {
            content: '';
            position: absolute;
            display: none;
            top: -6.3px;
            right: -25px;
            height: 27px;
            width: 3px;
            border: 1px solid #913d88;
            border-left: none;
        }
    }
}